// gird布局参数
$col-number: 12; // 行数
$col-type: xs, sm, md, lg;  // 分类
// 除去最小分辨率，其余每个需要设置宽度
$sm-width: 768px;
$md-width: 992px;
$lg-width: 1170px;

@import './mixin/_grid.scss';
@import './mixin/_clear.scss';

.row {
	width: 100%;
	@include clearfix();
}

// 生成gird布局
@include make-gird();